<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShoppingListController'>
      <!-- Searchable Shopping List: -->
      <h3>Shopping List:</h3>
      <div class="" ng-repeat="item in themes">
        <label><input type="checkbox" ng-model="mythemes[item]" ng-change="checked()">
          {{item}}</label>
      </div>
      <div class="" ng-repeat="item in type">
        <label><input type="checkbox" ng-model="mytypes[item]" ng-change="checked()">
          {{item}}</label>
      </div>
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList | filter : search">{{ item.name }}</li>
      </ul>
    </div>
  </body>
</html>
