<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Check</title>
  </head>
  <body>
    <h1>Lunch Check</h1>
    <div class="" ng-controller="LunchCheckController">
      <input type="text" name="" value="" ng-model="info">
      <button type="button" name="button" ng-click="check();">Check if too much</button>
      <div class="">
        {{message}}
      </div>

    </div>

  </body>
</html>
